.home-banner-main {
    position: relative;
}

.banner-img {
    width: 110rem;
}

.image-overlay {
    background: #00000079;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}

#banner-button {
    background-color: #06377b;
    border-color: #06377b;
}

#btn-color {
    border-color: #ffffff;
    color: #ffffff;
}

#banner-button:hover {
    background-color: #0a3e86;
    color: #ffffff;
}

.welcome-button {
    bottom: -10.5rem;
}

.blue-div {
    position: relative;
}

.bluediv-icons {
    margin-right: 0.1rem;
}

.vl {
    border-left: 2px solid #5a7ba8;
    height: 1.3rem;
    margin: 0 0.5rem;
}

.package-info {
    background-color: #06377b;
    position: absolute;
    color: white;
    padding: 0.6rem 0.5rem;
}

.rtr-image {
    display: inline-block;
    position: relative;
}

.bluediv-text {
    font-size: 0.9rem;
}

.rtr-content {
    box-shadow: inset 0px -10px 4px -10px rgba(70, 70, 70, 0.5);
}

.bottom-button-icon {
    color: #06377b;
}

.rtr-vl {
    border-left: 2px solid #ebebeb;
    height: 2.5rem;
    margin: 0 0.5rem;
}

.rtr-shadow {
    box-shadow: -1px 0 5px -5px rgba(0, 0, 0, 0.5), 1px 0 5px -5px rgba(0, 0, 0, 0.5), 1px px 5px -5px rgba(0, 0, 0, 0.5);
}

.package-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
}

.feedback-text {
    color: #2f4354;
    padding: 1rem;
}

.feedback-user-name {
    color: #06377b;
}

@media screen and (min-width: 768px) {
    .package-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1024px) {
    .lg\:h-custom {
        height: 45rem;
    }

    .slick-list {
        height: 45rem;
    }

    .welcome-image {
        width: 40rem;
        height: 25rem;
    }

    .package-card {
        width: 23rem;
    }

    .package-container {
        grid-template-columns: repeat(3, 1fr);
    }

    .customer-exp-div {
        width: 25rem;
    }

    .slick-dots li button:before {
        z-index: 999;
        width: 80px;
        height: 7px;
        font-size: 0;
        /* background-color: #fff; */
        content: '';
        display: block;
        border-radius: 4px;
        opacity: 1;
        border: 1px solid #ffffff;
    }

    .slick-dots li.slick-active button:before {
        background-color: #fff;
        opacity: 1;
    }

    .slick-dots li {
        margin: 0 35px;
    }

    .slick-dots {
        bottom: 15px;
    }
}